* {
   font-family: Helvetica, sans-serif;
   /* font-family: 'Times New Roman', Times, serif; */
   /* font-weight: bold; */
   background-color: rgb(231, 215, 193);
   color: #260051;
}

a {
 color: #5400b3; 
 background-color: transparent; 
 text-decoration: none;
}

.title a {
  color: #260051;
}

.title a:hover {
 color: #260051;
}


body li:not(:last-child) {
  margin-bottom: 2px;
}

.links {
  font-size: 6mm;
  font-weight: bold;
  text-align : center;
}

header {
 min-width:  15rem;
 margin: 0rem 3rem 3rem 3rem;
 float : right;
}

.title {
  white-space: normal;
  height: 46px;
  /* border: 2px solid #260051;
  border-radius: 7px; */
  margin: 25px 0px;
}

/* a:visited {
  color: #340070; 
 background-color: transparent;
 text-decoration: none;
} */

a:hover {
 color: #f7a100;
 /* background-color: rgb(255, 0, 0); */
}

body {
 font-size: 6mm;
 display: flex;
 flex-wrap: wrap;
 /* font-weight:  lighter; */
}

button.num {
  font-size: 8mm;
  border-radius: 7px;
  /* color: #5400b3; */
  border: 2px solid #260051;
}

button.num:hover {
  color:#260051;
}

button {
  font-size: 7mm;
  width : 230px;
  border-radius: 7px;
  /* color: #5400b3; */
  border: 2px solid #260051;
}

button:hover {
  color:#f7a100;
}


.column p {
  max-width:  54rem;
 margin: 1.4rem 1rem 1rem 1rem;
 margin-left: 4rem;
}

h1 {
  background-color: transparent;
  margin: 0;
 font-size: 10mm;
 text-align: center;
}

h2 {
  font-weight:600;
  margin-left: 2rem;
}

h3 {
  margin-left: 2rem;
}

li {
  margin-left: 4rem;
}


img {
 border-radius:  50%;
 max-width: 100%;
 max-height: 100%;
 margin: 0 auto;
 width: 15rem;
 height:  15rem;
}


      